# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
input*
output*
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Custom
csv/
json/
jbs-text/
jbs-text-tagged/
outbottomUp.txt
outTopDown.txt
PrecisionRecall.txt
